@font-face {
    font-family: 'Cipote';
    src: url('../font/Cipote.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    cursor: url("../images/cursor.png") auto !important;
}

#main-board {
    width: 1200px;
    height: 800px;
    background-image: url("../images/BFjwi.png");
    background-size: cover;
    margin: auto;
}

.map {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

.map td {
}

.tower-spot {
    width: 100%;
    height: 100%;
    border-radius: 10%;
}

.shop-tower0, .shop-tower1, .shop-tower2, .shop-tower3, .shop-tower4 {
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-image: url("../images/custom_tw.png");
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
}

.shop-tower0::after, .shop-tower1::after, .shop-tower2::after, .shop-tower3::after, .shop-tower4::after {
    content: attr(data-level);
    position: absolute;
    font-weight: bold;
}

.hold {
    background-color: transparent;
    opacity: 0.5;
}

.hovered {
    background-color: #f4f4f4;
    opacity: 0.3;
}

.invisible {
    display: none;
}

.mob  {
    height: 100%;
    width: 100%;
    background-image: url("../images/mob.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.mob::after {
    content: attr(data-hp);
    position: absolute;
    margin-left: 20px;
    color: red;
    font-weight: bold;
}

.wave{
    font-family: Cipote;
    font-size: 90px;
    text-shadow: 5px 10px black;
    color: white;
    position: absolute;
    text-align: center;
    z-index: 1000;
    top:0;
    left: 40%;
}


.start-btn{
    background-image: url("../images/start.png");
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}


#gold-pic {
    background-image: url("../images/coin.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}

#gold-value {
    width: 80px;
    height: 80px;
    color: gold;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

#life-pic {
    background-image: url("../images/life.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}

#life-value {
    width: 80px;
    height: 80px;
    color: red;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}
