#main-board {
    width: 600px;
    height: 400px;
    background-image: url("../images/BFjwi.png");
    background-size: cover;
}

.map {
    border: 5px solid black;
    width: 100%;
    height: 100%;
}

