#main-board {
    width: 1200px;
    height: 800px;
    background-image: url("../images/BFjwi.png");
    background-size: cover;
    margin: auto;
}

.map {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

.map td {
    background-color: transparent;
}

.tower-spot {
    background-color: black;
    opacity: 0.3;
    width: 100%;
    height: 100%;
    border-radius: 10%;
}

.shop-tower0, .shop-tower1, .shop-tower2, .shop-tower3, .shop-tower4 {
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-image: url("../images/tower.png");
    background-size: cover;
}

.hold {
    background-color: transparent;
    opacity: 0.5;
}

.hovered {
    background-color: #f4f4f4;
    opacity: 0.3;
}

.invisible {
    display: none;
}

.mob  {
    height: 100%;
    width: 100%;
    background-image: url("../images/goblin.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

#gold-pic {
    background-image: url("../images/coin.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}

#gold-value {
    width: 80px;
    height: 80px;
    color: gold;
    font-size: 20px;
}
