{% extends "layout.html" %}
{% block content %}
    <div id="main-board">
        <table class="map">
            {% for row in range(10) %}
                <tr>
                    {% for col in range(15) %}
                        <td data-coordinate-x="{{ col }}" data-coordinate-y="{{ row }}"></td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>

    <!-- Modal -->
    <div class="modal fade bd-example-modal-sm" id="exampleModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Tower upgrade menu</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div id="tower-level" class="col-6"></div>
                            <div id="uTower-level" class="col-6 ml-auto"></div>
                        </div>
                        <div class="row">
                            <div id="tower-damage" class="col-6 ml-auto"></div>
                            <div id="uTower-damage" class="col-6 ml-auto"></div>
                        </div>
                        <div class="row">
                            <div id="tower-range" class="col-6 ml-auto "></div>
                            <div id="uTower-range" class="col-6 ml-auto"></div>
                        </div><br/>
                        <div class="row">
                            <div id="upgrade-cost" class="col-6 ml-auto"></div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Upgrade Tower</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}