{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <h1><a href="{{ url_for('game') }}">Play!</a></h1>
        <div class="instructions">
            <h2>Instructions</h2>
            <p>
                Hello traveler! Your job is to defend the base from the evil monsters. In order to do that <br>
                you have to manage your towers reasonably.<br>
            <h3>Rules</h3>
            <p>- You have <b>3 health</b> and each monster deals 1 damage if they reach your base.<br>
                - If you lose all your health you will lose.<br>
                - If you can withstand all the waves you win.
            </p>
            <h3>Towers</h3>
            <p>- Can shoot one place further to any direction.<br>
                - The first tower costs <b>100 gold</b>.<br>
                - You can upgrade your tower by <b>double clicking</b> on your tower <br>and choose <b>"Upgrade tower"
                </b>function.<br>
            </p>
            <h3>Enemies</h3>
            <p>- You get gold if you kill them.<br>
                - Each wave becomes stronger.
            </p>
            <p><b>Good luck and have fun!</b></p>
        </div>
    </div>
{% endblock %}